/* ==UserStyle==
@name           Discord AdBlock Extras
@namespace      https://github.com/CroissantDuNord/discord-adblock
@version        1.0.0
@description    Removes extra Nitro-related objects from Discord that do not explicitly count as advertising.
@author         Ridge & contributors
==/UserStyle== */

/* It is highly recommended you manually import the rules you want from this file, rather than using the entire list. */
/* This is a highly opinionated collection of rules that remove clutter from the client, that some might find useful or desirable. */

/* Avatar decorations */
svg[class*=avatarDecoration_] {
  display: none;
}
img[class*=avatarDecoration_] {
  display: none;
}

/* Profile decorations */
div[class*=profileEffects] {
    display: none;
}
div[class*=userProfileModalInner]>header>svg>foreignObject>div[class*=bannerPremium] {
    display: none;
}

/* Server booster icon */
svg[class*=premiumIcon_] {
    display: none;
}

/* Server boost progress bar */
ul > li:has(div[data-list-item-id*=channels___boosts-]) {
    display: none;
}

/* Nitro Icon Sever */
div[class^=guildIconContainer_]:has(svg[class^=boostedGuildIconGem_]) {
    display: none;
}

/* Quests icon */
svg[class^=questsIcon_] {
  display: none;
}

/* "Quest Completed" badge in profiles */
div:has(> a[href="https://discord.com/discovery/quests"]) {
    display: none;
}

/* "Nitro" and "Server Boosting" badges in profiles */
div:has(> a[href="https://discord.com/settings/premium"]) {
    display: none;
}

/* "Hype Squad" badge in profiles */
div:has(> a[href="https://discord.com/settings/hypesquad-online"]) {
    display: none;
}

/* Activity list */
h3[class^=membersGroup_]:has(span[role="button"]) {
  display: none;
}
div[class^=container_] > aside[class^=membersWrap_] > div[class^=members_] > div[role^=list] > div:has(div[class*="openOnHover_"]) {
  display: none;
}

/* "Forward" hover bar button */
div[class^=hoverBarButton_][aria-label=Forward] {
  display: none;
}

/* "Events" button at the top of channel list */
#channels > ul > li:has([id^=upcoming-events-]),
#channels > ul > li:has([id^=upcoming-events-]) + [class^=sectionDivider_] {
  display: none;
}

/* "Discover" footer on the left sidebar */
div[class^=footer_]:has(div[data-list-item-id="guildsnav___guild-discover-button"]) {
    display: none;
}
